.AddedItems{
    max-width: 30%;
	padding: 10px 30px;
	background: #E5E7E9;
	margin: 10px auto;
	padding: 20px;
	border-radius: 9px;
	font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

.SingleButton{
	max-width: 30%;
	padding: 10px 30px;
	margin: 10px auto;
	padding: 20px;
	border-radius: 9px;
	font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}