.AddNewItem {
  max-width: 30%;
	padding: 10px 30px;
	background: #E5E7E9;
	margin: 10px auto;
	padding: 40px;
	border-radius: 9px;
	font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

input{
  padding: 12px 20px;
  border-radius: 9px;
  margin: 8px 0;
  border: none;
}

button{
  background-color: #27AE60; 
  color: white;
  margin: 8px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}

button:hover{
  background-color: #52BE80;
}