.navbar {
  display: flex;
  align-items: center;
  background: #283747;
}

.navbar__title {
  margin-right: auto;
  transform: scale(0.9);
  font-size: 1px;
}

.navbar__item {
  padding: 0px 35px;
  transform: scale(1.1);
  vertical-align: middle;
}